<%
  if params[:event_id]
    #edit
    url = admin_event_path(@event)
  else 
    #new
    url = admin_events_path
  end
%>
<%=link_to "New", admin_events_path, :class => "btn btn-primary"%>

<%= form_for @event, :url => url do |f|%>
  <h3>內容設計</h3> 
  <hr>
  <div class="form-group">
    <%= f.label :project_id, "Project" %>
    <%= f.select :project_id, Project.all.map{ |x| [x.name, x.id]}, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name, "name" %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :en_name, "en_name" %>
    <%= f.text_field :en_name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%=f.label :logo, "LOGO"%>
    <%=f.file_field :logo%>

    <% if @event.logo.exists? %>
      <%=image_tag(@event.logo.url(:thumb))%>
      <%= check_box_tag "destroy_logo", "1" %> 刪除檔案
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :introduction, "介紹" %>
    <%= f.text_area :introduction, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :en_introduction, "en_introduction" %>
    <%= f.text_area :en_introduction, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content, "內容" %>
    <%= f.text_area :content, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :en_content, "en_content" %>
    <%= f.text_area :en_content, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :date, "日期" %>
    <%= f.text_area :date, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :time, "時間" %>
    <%= f.text_area :time, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :place, "集合地點" %>
    <%= f.text_field :place, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address, "地址" %>
    <%= f.text_field :address, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :cost, "價格" %>
    <%= f.text_area :cost, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :discount, "優惠" %>
    <%= f.text_area :discount, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :notice, "注意事項" %>
    <%= f.text_area :notice, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tips, "貼心提醒" %>
    <%= f.text_area :tips, :class => "form-control" %>
  </div>
  <%= f.submit "更新",:class => "btn btn-primary" %>
<%end%>