event index

<table class="table">
  <tr>
    <td>project</td>
    <td>name</td>
    <td>date</td>
    <td>time</td>
    <td>place</td>
    <td>cost</td>
    <td>訂單</td>
    <td>編輯</td>
    <td>刪除</td>
  </tr>
  <% @events.each do |event|%>
    <tr>
      <td><%=event.project.name%></td>
      <td><%=event.name%></td>
      <td><%=event.date%></td>
      <td><%=event.time%></td>
      <td><%=event.place%></td>
      <td><%=event.cost%></td>
      <td>
        <%=link_to "訂單管理", admin_event_registration_forms_path(:event_id => event.id), :class => "btn btn-success"%>
      </td>
      <td>
        <%=link_to "內容設計", admin_events_path(:event_id => event.id), :class => "btn btn-info"%>
        <br>
        <br>
        <%=link_to "報名表設計", register_form_admin_event_path(event), :class => "btn btn-warning"%>
      </td>
      <td><%=link_to "刪除", admin_event_path(event), :method => :delete, :class => "btn btn-danger", data: { confirm: "Are you sure?"}%></td>
      <% if event.logo.exists? %>
        <td><%=image_tag(event.logo.url(:thumb))%></td>  
      <%end%>
    </tr> 
  <%end%>
</table>

<div class="clearfix"></div>

<%= render :partial => 'content_form'%>

