<div class="form-group">
  <%= f.label :name, "name" %>
  <%= f.text_field :name, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :company, "compamy" %>
  <%= f.text_field :company, :class => "form-control" %>
</div>

<%= f.submit "更新",:class => "btn btn-primary" %>