<div class="form-group">
  <%= f.label :name, "姓名" %>
  <%= f.text_field :name, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :en_name, "name" %>
  <%= f.text_field :en_name, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :company, "公司" %>
  <%= f.text_field :company, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :en_company, "compamy" %>
  <%= f.text_field :en_company, :class => "form-control" %>
</div>

<div class="form-group">
    <%=f.label :logo, "LOGO"%>
    <%=f.file_field :logo%>

    <% if @partner.logo.exists? %>
      <%= check_box_tag "destroy_logo", "1" %> 刪除檔案
    <% end %>
</div>

<%= f.submit "更新",:class => "btn btn-primary" %>