<div class="partners_title">
  <h1><%=@partner.name%> </h1>
</div>
<br> 
<div class="row">
  <div class="col-md-4 partner_show_content">
    <br>
    <br>
    <%=simple_format (@partner.try(:introduction))%>
  </div>

  <div class="col-md-6 partner_show_img">
    <img src="https://static.wixstatic.com/media/a18af5_9be8230e04ab41949c24a14fe646f1ff.jpeg_srz_p_658_439_75_22_0.5_1.2_0_jpeg_srz" alt=""> 
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-6 partner_show_content">
    <h3> Our Kaohsiung chill-chill </h3>
    <%=simple_format(@partner.try(:my_chillchill))%>
  </div>
</div>

<br>
<div>
  <%= link_to "節氣食旅 > > ", projects_path, :class =>"btn btn-warning btn-lg"%>
</div>
<br>
<div>
  <%= link_to "美濃微旅行 > > ", projects_path, :class =>"btn btn-success btn-lg"%>
</div>
<br>
<div>
  <%= link_to "遊船 > > ", projects_path, :class =>"btn btn-info btn-lg"%>
</div>


<hr>

<% @informations.each do |i|%>
  <ul>
    <li><%= i.company%></li>
    <li><%= i.address%></li> 
    <li><%= i.open_time%> ~ <%= i.close_time%>  Every <%= i.open_day%></li>
  </ul>  
<%end%>

<br>

<h4>
<%= link_to "Facebook", url_for(@fb_url)%> |
<%= link_to "Blog", url_for(@blog_url)%> |
<%= link_to "Website", url_for(@web_url)%> |
</h4>



    <!-- Your share button code -->

<div  class="fb-share-button" 
      data-href="http://www.chillchillkaohsiung.com/" 
      data-layout="button_count">
</div>

<br>
<br>
<br>
<br>

<hr>
