<div class="col-md-12 register-form-block">
  <div class="row">
    <div class="col-md-12 ">
      <h3><%= @event.name%></h3>
      <h3>活動預約表</h3> 
    </div>
  </div>
  

<hr>
<div class="clearfix"></div>

  <div class="col-md-6 ">
    <div class="col-md-6">
      <div class="form-group">
        <p>姓名 <span>*</span> </p> 
        <%= f.text_field :first_name, :class => "form-control", :placeholder => "first name"%>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <p> .</p>
        <%= f.text_field :last_name, :class => "form-control", :placeholder => "last name" %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :phone_number, "電話" %> <span>*</span> 
        <%= f.text_field :phone_number, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email, "Email" %> <span>*</span> 
        <%= f.text_field :email, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :registed_day, "梯次" %> <span>*</span> 
        <%= f.select :registed_day, @event.reservation_days.map{ |d| d.day_info }, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :people, "大人數" %> <span>*</span> 
        <%= f.text_field :people, :class => "form-control" %>
      </div>

      <div class="form-group"> 
        <%= f.label :kids, "小孩數（小於12歲）" %>
        <%= f.text_field :kids, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :payment, "付款方式" %> <span>*</span> 
        <%= f.select :payment, ["ATM轉帳","線上刷卡"] %>
      </div>

      <div class="form-group">
        <%= f.label :notice, "是否有對任何食物過敏、禁忌？" %>
        <%= f.text_area :notice, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :opinion, "意見詢問" %>
        <%= f.text_area :opinion, :class => "form-control" %>
      </div>

      <%if @event.questions%>
        <% @event.questions.each do |question|%>
          <label for="question-#{question.id}"><%="#{question.content},(#{question.answer_type})"%></label>
          <br>
          <%if question.answer_type == "客戶填寫"%>
            <textarea class="form-control" id="question-<%=question.id%>" name="question-<%=question.id%>"></textarea>

          <%elsif question.answer_type == "單選"%>
            <select name="question-<%=question.id%>" id="question-<%=question.id%>">
              <% question.pre_answers.each do |ans|%>
                <option value="<%=ans.a_content%>"><%=ans.a_content%></option>
              <%end%>
            </select>
          
          <%elsif question.answer_type == "多選" %>
            <% question.pre_answers.each do |ans|%>
              <input id="question-<%=question.id%>" name="question-<%=question.id%>-<%=ans.id%>" type="checkbox" value="<%=ans.a_content%>" /> 
              <%=ans.a_content%>
              <br>
            <%end%>

          <%end%>
          <br>
        <%end%>
      <%end%>
      <br>
      
      
      <%= f.submit "送出",:class => "btn btn-primary" %>
    </div>
  </div>
</div>



<script>
  $("#event_day_list").select2({
     tags: <%=raw ReservationDay.all.map{ |t| t.day_info }.to_json %>,
     tokenSeparators: [',', ' ']
   });
</script>