<div class="event-project-name">
  <h1><%=@project.name%></h1>
</div>

<div class="clearfix"></div>

<div class="pre-event">
  <a href="https://www.facebook.com/chillchillkaohsiung/photos_stream?tab=photos_albums" target="_blank" >
  <span class="row"><h5>see previous projects > > </h5></span>
  <h5>已舉辦之企劃 記錄 </h5>
  </a>
</div>

<% @project.events.each do |event|%>
  <div class="col-md-12 event-block">
    <div class="row">
      <div class="col-md-4">
        <% if event.logo.exists? %>
          <%=image_tag(event.logo.url(:thumb))%> 
        <%end%>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12 event-block-title">
            <h2><%=event.name%></h2>
            <h4><%=event.en_name%></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 event-block-datetime">
            <%=event.date%>
            
          <%=event.time %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 event-block-content">
            <h4><%=event.introduction%></h4>
          </div>
        </div>
        <div class="row event-show">
          <%= link_to "see more >>", project_event_path(:project_id => @project.id, :id => event.id), :class =>"btn btn-info btn-lg"%>
        </div>
      </div>
    </div>
  </div>
<%end%>



