<div class="event-project-name">
  <h1><%=@project.name%></h1>
</div>

<% @project.events.each do |event|%>
  <div class="col-md-12 event-block">
    <div class="row">
      <div class="col-md-4">
        <% if event.logo.exists? %>
          <%=image_tag(event.logo.url(:thumb))%> 
        <%end%>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12 event-block-title">
            <h2><%=event.name%></h2>
            <h4><%=event.en_name%></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 event-block-datetime">
            <%if event.start_date ==  event.end_date%>
            <%=event.start_date%>
          <%else%>
            <%=event.start_date%>~<%=event.end_date%> 
          <%end%>
          <%=event.start_time.strftime("%H:%M") %>~<%=event.end_time.strftime("%H:%M") %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 event-block-content">
            <h4><%=event.note%></h4>
          </div>
        </div>
        <div class="row event-show">
          <%= link_to "see more >>", project_event_path(:project_id => @project.id, :id => event.id), :class =>"btn btn-info btn-lg"%>
        </div>
      </div>
    </div>
  </div>
<%end%>

.


<br>
<br>
<br>
<br>
<hr>
.

