<div class="col-md-12 event-block-title">
  <h2><%=@event.name%></h2>
  <h4><%=@event.en_name%></h4>
</div>

<div class="col-md-10 event-note">
  <h4><%=@event.introduction%></h4>
  <br>
  <hr>
</div>

<div class="col-md-12">
  <div class="row event-info">
    <div class="col-md-2">
      <h4>活動內容</h4>
    </div>
    <div class="col-md-10">
      <h4><%= @event.content%></h4>
    </div>
  </div>

  <div class="row event-info">
    <div class="col-md-2">
      <h4>梯次日期</h4>
    </div>
    <div class="col-md-10">
      <h4><%= @event.date%></h4>
    </div>
  </div>

  <div class="row event-info">
    <div class="col-md-2">
      <h4>活動時間</h4>
    </div>
    <div class="col-md-10">
      <h4><%=@event.time%></h4>
    </div>
  </div>

  <div class="row event-info">
    <div class="col-md-2">
      <h4>集合地點</h4>
    </div>
    <div class="col-md-10">
      <h4><%=@event.place%></h4>
      <h4><%=@event.address%></h4>
    </div>
  </div>

  <div class="row event-info">
    <div class="col-md-2">
      <h4>主辦單位</h4>
    </div>
    <div class="col-md-10">
    <h4>....</h4>
    </div>
  </div>

  <hr>
  <h3>費 用  與  事 項</h3>
  <br>
  <br>

  <div class="row event-info">
    <div class="col-md-2">
      <h4>活動費用</h4>
    </div>
    <div class="col-md-10">
    <h4><%=simple_format @event.cost%></h4>
    </div>
  </div>

  <div class="row event-info">
    <div class="col-md-2">
      <h4>特殊優惠</h4>
    </div>
    <div class="col-md-10">
    <h4><%=simple_format @event.discount%></h4>
    </div>
  </div>

  <div class="row event-info">
    <div class="col-md-2">
      <h4>注意事項</h4>
    </div>
    <div class="col-md-10">
    <h4><%=simple_format @event.notice%></h4>
    </div>
  </div>

  <div class="row event-info">
    <div class="col-md-2">
      <h4>貼心體醒</h4>
    </div>
    <div class="col-md-10">
    <h4><%=simple_format @event.tips%></h4>
    </div>
  </div>
</div>

<div class="clearfix"></div>


<%= form_for @registration_form, :url =>registration_form_project_event_path do |f|%>
  <%= render :partial => 'registration_form', :locals => { :f => f} %>
<%end%>


