<div class="form-group">
  <%= f.label :name, "project_中文" %>
  <%= f.text_field :name, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :en_name, "en_project_name" %>
  <%= f.text_field :en_name, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :title, "標題" %>
  <%= f.text_field :title, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :en_title, "en_title" %>
  <%= f.text_field :en_title, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :description, "敘述" %>
  <%= f.text_field :description, :class => "form-control" %>
</div>

<div class="form-group">
  <%= f.label :en_description, "en_description" %>
  <%= f.text_field :en_description, :class => "form-control" %>
</div>

<div class="form-group">
    <%=f.label :logo, "LOGO"%>
    <%=f.file_field :logo%>

    <% if @project.logo.exists? %>
      <%= check_box_tag "destroy_logo", "1" %> 刪除檔案
    <% end %>
</div>

<%= f.submit "更新",:class => "btn btn-primary" %>