admin projects index
<div class="clearfix"></div>

<%@projects.each do |p|%>
  <div class="col-md-6 project_block">
    <%=p.name%>
    <%=p.title%>
    <%=p.description%>
  </div>
<%end%>


<div class="clearfix"></div>

<%= form_for @project, :url => admin_projects_path, :method => :post do |f|%>
  <%= render :partial => 'form', :locals => { :f => f} %>
<%end%>