admin projects index
<div class="clearfix"></div>

<%@projects.each do |p|%>
  <div class="col-md-6 project_block">
    <% if p.logo.exists? %>
      <a href="#"><%= image_tag(p.logo.url(:thumb))%><h3 class="project_name"><%=p.name%></h3> </a>
      
    <%end%>
    <br>
    <%=link_to "Edit", admin_projects_path(:project_id => p.id), :class => "btn btn-info"%>
    <%=link_to "delete", admin_project_path(p),:method => :delete, :class => "btn btn-danger",data: {confirm: "Are you sure?"}%>
    
    <h3><%=p.title%></h3>
    <%=simple_format p.description%>
  </div>
<%end%>


<div class="clearfix"></div>
<%
  if params[:project_id]
    #edit
    url = admin_project_path(@project)
  else 
    #new
    url = admin_projects_path
  end
%>

<%=link_to "New", admin_projects_path, :class => "btn btn-primary"%>

<%= form_for @project, :url => url do |f|%>
  <%= render :partial => 'form', :locals => { :f => f} %>
<%end%>