<table class="table">
  <tr>
    <td>name</td>
    <td>en_name</td>
  </tr>
  <% @categories.each do |category|%>
    <tr>
      <td ><%=category.name%></td>
      <td><%=category.en_name%></td>
      <td><%=link_to "Edit", admin_categories_path(:category_id => category.id), :class => "btn btn-info"%></td>
      <td><%=link_to "Delete", admin_category_path(category), :method => :delete, :class => "btn btn-danger"%></td>
    </tr> 
  <%end%>
</table>

<%
  if params[:category_id]
    #edit
    url = admin_category_path(@category)
  else 
    #new
    url = admin_categories_path
  end
%>

<%= form_for @category, :url => url do |f|%>
  <%= render :partial => 'form', :locals => { :f => f} %>
<%end%>
