<!DOCTYPE html>
<html>
<head>
  <title>Chillchill</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-offset-10">
      <p> En|中 </p>
      <p><%= link_to "admin", admin_partners_path%></p>
    </div>
    <% if flash[:notice].present? %>
      <div style = "color: green" class="col-md-offset-3">
        <h1><%= flash[:notice]%></h1> 
      </div>
    <% end %>

    <% if flash[:alert].present? %>
      <div style = "color: red" class="col-md-offset-3">
        <h1><%= flash[:alert]%></h1> 
      </div>
    <% end %>

    
  </div>
</div>

<br>  
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" id="title">
        <div class="col-md-10">
          <div class="row ">
            <div class="col-md-12">
              <h1>
                <%=link_to "chill chill kaohsiung project.", main_path%></h1>
            </div>
          </div>
          <div class="row"> 
            <div class="col-md-10">
              <h5><%= link_to "a field trip project to explore Kaohsiung chill-chill lifestyle via local food, art, life, daily fun, and nature",main_path %></h5>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <h2 id="title2">
            <%= link_to "去 去 高 雄", main_path%></h2>
        </div>
        <br>
    </div>
  </div>

  <h5>.</h5>
  
  <div class="row">
    <div class="col-md-9 col-md-offset-2" id="banner-link">
      <div class="table">
        <tr>
          <td><%= link_to "admin category", admin_categories_path%></td>
        </tr>
        <br>
        <tr>
          <td><%= link_to "admin food adventure"%></td>
          <td><%= link_to "admin outdoor fun"%></td>
          <td><%= link_to "admin local partner", admin_partners_path%></td>
          <td><%= link_to "admin reservation"%></td>
          <td>
            <a href="https://www.facebook.com/chillchillkaohsiung"><i class="fa fa-facebook"></i></a>  
          </td>
          <td>
            <a href="http://instagram.com/chillchillkh"><i class="fa fa-instagram"></i></a>
          </td>
          <td>
            <a href="http://www.tripadvisor.com.tw/Attraction_Review-g297908-d6847667-Reviews-Chill_chill_Kaohsiung_project_Food_Tours_and_Taiwanese_Cooking_Class-Kaohsiung.html"><i class="fa fa-tripadvisor"></i></a>
          </td>
        </tr>
    </div>
  </div> 

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= yield %>
    </div>
  </div>
</div>



</body>
</html>
