<!DOCTYPE html>
<html>
<head>
  <title>Chillchill</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <meta property="og:url"           content="http://localhost:3000/partners/1" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="去去高雄｜ chill chill kaohsiung project. ｜ local tour ｜ cooking class" />
  <meta property="og:description"   content="高雄,廚藝教室,有機市集,體驗,料理,做菜,農夫市集,料理教室,美濃,好吃,品茶,品茗,攀岩,探洞,騎單車,旅遊觀光,愛河,節氣食旅,背包客,特殊體驗,創意,旅行,設計,風格城市,港都,駁二,酷玩,有趣,輕鬆快活,小旅行廚房,ki厝,郭銘哲,chez kiki,微風市集,勇氣廚房,李建達,agnes甜點,雄好呷" />
  <meta property="og:image"         content="http://img1.wikia.nocookie.net/__cb20110105015923/ranmafanon/images/c/c7/Jnh_hj_hj_bhj_bhbj_hbj.jpg" />
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-10">
      <% if flash[:notice].present? %>
        <div style = "color: green" class="col-md-offset-3">
          <h3><%= flash[:notice]%></h3> 
        </div>
      <% end %>

      <% if flash[:alert].present? %>
        <div style = "color: red" class="col-md-offset-3">
          <h3><%= flash[:alert]%></h3> 
        </div>
      <% end %>
    </div>
    <div class="col-md-offset-10">
      <p> En|中 </p>
      <%if current_user && current_user.admin?%>  
        <p><%= link_to "admin", admin_events_path%></p>
      <%end%>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" id="title">
        <div class="col-md-10">
          <div class="row ">
            <div class="col-md-12">
              <h1>
                <%=link_to "chill chill kaohsiung project.", main_path%></h1>
            </div>
          </div>
          <div class="row"> 
            <div class="col-md-10">
              <h5><%= link_to "a field trip project to explore Kaohsiung chill-chill lifestyle via local food, art, life, daily fun, and nature",main_path %></h5>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <h2 id="title2">
            <%= link_to "去 去 高 雄", main_path%></h2>
        </div>
        <br>
    </div>
    <div class="col-2">
      <%if current_user%>
        <h3>
        Hello! <%= image_tag (current_user.profile.fb_image), style: "width: 40px; height: 40px; display: inline; border-radius: 20px;" %> <%= current_user.profile.first_name || current_user.profile.username%>
        </h3>
        <br>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
      <%else%>
        <%= link_to user_omniauth_authorize_path(:facebook), :class => "btn btn-primary" do%>
            <i class="fa fa-facebook-square"> Sign in with Facebook </i>
        <%end%>
      <%end%>
    </div>
  </div>

  <h5>.</h5>
  
  <div class="row">
    <div class="col-md-9 col-md-offset-2" id="banner-link">
      <div class="table" id="outlink-icon">
        <tr>
          <% Category.all.each do |c|%>
            <td><%= link_to c.name, projects_path(:category => c.id)%></td>
          <%end%>
          <td><%= link_to "local partner", partners_path%></td>
          <td><%= link_to "reservation"%></td>
          <td>
            <a href="https://www.facebook.com/chillchillkaohsiung"><i class="fa fa-facebook"></i></a>  
          </td>
          <td>
            <a href="http://instagram.com/chillchillkh"><i class="fa fa-instagram"></i></a>
          </td>
          <td>
            <a href="http://www.tripadvisor.com.tw/Attraction_Review-g297908-d6847667-Reviews-Chill_chill_Kaohsiung_project_Food_Tours_and_Taiwanese_Cooking_Class-Kaohsiung.html"><i class="fa fa-tripadvisor"></i></a>
          </td>
        </tr>
    </div>
  </div> 

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= yield %>
    </div>
  </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5&appId=563223240506725";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


</body>
</html>
